{{!-- <div class="weatherWidget">
	{{#each partials.weatherContext}}
		<div class="location">
			<h3>{{ location.name }}</h3>
			<a href="{{ location.forecastUrl }}">
				<img src="{{ iconUrl }}" alt="{{ weather }}">
				{{ weather}}, {{temp}}			
			</a>
		</div>
	{{/each}}
	<small>Source: <a href="https://www.weather.gov/documentation/services-web-api">National Weather Service</a></small>
</div> --}}


{{#section 'head'}}
  <style>
    .weatherWidget {
      border: solid 1px black;
      margin: 4px;
      padding: 10px;
    }

    div.location:last-child {
    	margin-bottom: 80px;
    	background-color: red;
    }

    .location img {
    	display: block;
    	/*color: green;*/
    }


  </style>
{{/section}}

<div class="weatherWidget">
  {{#each partials.weatherContext}}
    <div class="location">
      <h3>{{location.name}}</h3>
      <a href="{{location.forecastUrl}}">
        <img src="{{iconUrl}}" alt="{{weather}}">
        {{weather}}, {{temp}}
      </a>
    </div>
  {{/each}}
  <small>Source: <a href="https://openweathermap.org">OpenWeatherMap</a></small>
</div>